In [1]:
import numpy as mp
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_excel('L:/shoping_demo.xls')

In [11]:
data.head()

       Day Discount Free Delivery Purchase Unnamed: 4  Unnamed: 5 Unnamed: 6
0  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes
1  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes
2  Weekend       No            No       No       NoNo   WeekendNo       NoNo
3  Holiday      Yes           Yes      Yes     YesYes  HolidayYes     YesYes
4  Weekday      Yes           Yes      Yes     YesYes  WeekdayYes     YesYes

In [12]:
data.shape

(30, 7)

In [14]:
data['Purchase'].value_counts()

Yes    24
No      6
Name: Purchase, dtype: int64

In [15]:
pYes = 24/30
pNo = 6/30

In [16]:
print(pYes)

0.8

In [17]:
print(pNo)

0.2

In [18]:
pd.crosstab(data['Day'], data['Purchase'])

Purchase  No  Yes
Day
Holiday    3    8
Weekday    2    9
Weekend    1    7

In [19]:
PHolidayNo = 3/6
PWeekdayNo = 2/6
PWeekendNo = 1/6

PHolidayYes = 8/24
PWeekdayYes = 9/24
PWeekendYes = 7/24

PHoliday = 11/30
PWeekday = 11/30
PWeekend = 8/30

print(PWeekdayYes)

0.375

In [23]:
PNoWeekday = (PWeekdayNo*pNo)/PWeekday
print(PNoWeekday)

0.18181818181818182

In [25]:
PYesWeekday = (PWeekdayYes*pYes)/PWeekday
print(PYesWeekday)

0.8181818181818183

In [26]:
print(PNoWeekday)
print(PYesWeekday)

0.18181818181818182
0.8181818181818183

In [27]:
pd.crosstab(data['Discount'], data['Purchase'])

Purchase  No  Yes
Discount
No         5    5
Yes        1   19

In [28]:
PNoDiscountNo = 5/6
PYesDiscountNo = 1/6

PNoDiscountYes = 5/24
PYesDiscountYes = 19/24

PNoDiscount = 10/30
PYesDiscount = 20/30

In [29]:
pd.crosstab(data['Free Delivery'], data['Purchase'])

Purchase       No  Yes
Free Delivery
No              4    3
Yes             2   21

In [30]:
PNoDeliveryNo = 4/6
PYesDeliveryNo = 2/6

PNoDeliveryYes = 3/24
PYesDeliveryYes = 21/24

PNoDelivery = 7/30
PYesDelivery = 23/30

In [33]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesDeliveryNo)*pNo)/(PHoliday*PYesDiscount*PYesDelivery)
print(PNoBuy1)

0.029644268774703563

In [39]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesDeliveryYes)*pYes)/(PHoliday*PYesDiscount*PYesDelivery)
print(PBuy2)

0.9856719367588933

In [40]:
PSum = PNoBuy1+PBuy2
print(PSum)

1.015316205533597

In [41]:
PBuy = (PBuy2/PSum)*100
print(PBuy)

97.08029197080292

In [42]:
PNoBuy = (PNoBuy1*PSum)*100
print(PNoBuy)

3.009830648815011

In [43]:
PBuyA = ((PWeekdayYes*PYesDiscountYes*PYesDeliveryYes)*pYes)/(PWeekday*PYesDiscount*PYesDelivery)
print(PBuyA)

1.108880928853755

In [44]:
PBuyB = ((PWeekdayYes*PYesDiscountNo*PYesDeliveryNo)*pYes)/(PWeekday*PNoDiscount*PNoDelivery)
print(PBuyB)

0.5844155844155845

In [45]:
PBuyC = ((PWeekdayNo*PYesDiscountNo*PYesDeliveryNo)*pNo)/(PWeekday*PYesDiscount*PYesDelivery)
print(PBuyC)

0.019762845849802375

In [47]:
PBuyD = ((PWeekdayNo*PNoDiscountNo*PNoDeliveryNo)*pNo)/(PWeekday*PNoDiscount*PNoDelivery)
print(PBuyD)

1.2987012987012987

In [48]:
PBuyE = ((PWeekendYes*PYesDiscountYes*PYesDeliveryYes)*pYes)/(PWeekend*PYesDiscount*PYesDelivery)
print(PBuyE)

1.185886548913044

In [49]:
PBuyF = ((PWeekendYes*PNoDiscountYes*PNoDeliveryYes)*pYes)/(PWeekend*PNoDiscount*PNoDelivery)
print(PBuyF)

0.29296875000000006

In [50]:
PBuyG = ((PWeekendNo*PYesDiscountNo*PYesDeliveryNo)*pNo)/(PWeekend*PYesDiscount*PYesDelivery)
print(PBuyG)

0.013586956521739134

In [51]:
PBuyH = ((PWeekdayNo*PNoDiscountNo*PNoDeliveryNo)*pNo)/(PWeekend*PNoDiscount*PNoDelivery)
print(PBuyH)

1.7857142857142856